{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {% set fileHtml %}
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload a file"
          }
        }) }}
        {% endset -%}

{{ govukRadios({
 name: "contact",
 fieldset: {
   legend: {
     text: "Would you like to send any evidence of the problem?",
     isPageHeading: true,
     classes: "govuk-fieldset__legend--l"
   }
 },
 hint: {
   text: "Upload any photos, videos or documents you think may help us understand the problem."
 },
 items: [
   {
     value: "yes",
     text: "Yes",
     conditional: {
       html: fileHtml
     }
   },
   {
     value: "no",
     text: "No"
   }
 ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
