{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Describe the smell
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "How strong is the smell?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "negligible",
              text: "Faint and barely noticeable"
            },
            {
              value: "noticeable",
              text: "Noticeable - you can smell it while breathing normally"
            },
            {
              value: "distinct",
              text: "Strong and peristent - sticks to clothes or hair"
            },
            {
              value: "overwhelming",
              text: "Strong enough to make you want to leave"
            },
            {
              value: "intolerable",
              text: "Strong enough you must leave the area"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
