{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You may need to report the incident to your local authority or a utility company
      </h1>

    <h2 class="govuk-heading-m">Incidents you should report to local councils or utility companies</h2>
    <p>Find online guidance on how to report the following issues:</p>
    <ul class="govuk-list govuk-list--bullet">
  <li><a href="/report-flooding-burst-water-mains">burst water mains</a></li>
  <li><a href="/report-dangerous-building-structure">dangerous buildings or structures</a></li>
  <li><a href="/report-syringes">discarded syringes</a></li>
  <li>
<a href="/report-flood-cause">flooding</a> from a brook or stream, or from any river that’s not a main river</li>
  <li><a href="/report-flytipping">fly-tipping</a></li>
  <li><a href="/report-litter">a litter problem</a></li>
  <li><a href="/report-noise-pollution-to-council">noise</a></li>
  <li><a href="/report-pest-problem">pest nuisances</a></li>
</ul>
<h2 class="govuk-heading-m">Incidents you should report to the Environment Agency</h2>

      <p>Call the Environment Agency to report the following:</p>
      <ul class="govuk-list govuk-list--bullet">
  <li>collapsed or badly damaged river banks</li>
  <li>damage or danger to the natural environment</li>
  <li>dead fish or fish gasping for air</li>
  <li>flooding from <a rel="external" href="https://environment.maps.arcgis.com/apps/webappviewer/index.html?id=17cd53dfc524433980cc333726a56386">main rivers</a> or the sea</li>
  <li>people taking water illegally from rivers, streams, canals or underground sources such as wells</li>
  <li>incidents at Environment Agency-regulated waste sites</li>
  <li>
<a rel="external" href="https://environment.maps.arcgis.com/apps/webappviewer/index.html?id=17cd53dfc524433980cc333726a56386">main rivers</a> blocked by a vehicle or fallen tree causing risk of flooding</li>
  <li>poaching or illegal fishing</li>
  <li>pollution to water or land</li>
  <li>unusual changes in river flow</li>
</ul>

      <ul class="govuk-list">
        <li>Environment Agency incident hotline</li>
        <li>Telephone: 020 7946 0101</li>
        <li>24 hours</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" href="#">Find out about call charges</a>
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
